@import url('https://fonts.cdnfonts.com/css/kapakana');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  text-align: center;
}

.landing{
  background-image: url('../landing_backdrop.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.landing .error{
  color: red;
  font-size: 1.25rem;
  margin-bottom: .5rem;
  margin-top: -1rem;
}

.landing_name{
  font-family: 'Kapakana', sans-serif;
  font-size: 5rem;
  color: black;
}

.landing_inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing_inputs input, .landing_inputs button{
  width: 15rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.25rem;
}

.landing_inputs input{
  margin-bottom: .5rem;
  border: 1px solid black;
}

.landing_inputs input:hover, .landing_inputs input:focus{
  border: 2px solid black;
}

.landing_inputs input:focus::placeholder {
  color: transparent;
}


.landing_inputs button{
  background-color: #B5432F;
  cursor: pointer;
  color: white
}

.landing_inputs button:hover{
  background-color: #D95D39;
}